<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.malfurion.malfurionserver.system.mapper.ArticleInfoMapper">
    <select id="selectArticleIdList" resultType="long">
        select info_id from malfurion.article_info;
    </select>
</mapper>
